[user]
	name = Chris Soper
	email = ChrisSoper1@gmail.com
[push]
	default = simple
[core]
	excludesfile = C:\\Users\\csoper\\.gitignore_global
[difftool "sourcetree"]
	cmd = 'C:/Program Files/KDiff3/kdiff3.exe' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = 'C:/Program Files/KDiff3/kdiff3.exe' \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true
